@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --blue: #6495ed;
    --white: #fff;
    --log-white: #faf0e6;
    --border-color: rgba(0,0,0,.075);
    --black: #000;
    --log-black: #0c0202;
    --a-color: #495057;
    --a-color-hover: #212529;
    --marginTop: 65px;
    --log-color: #0d6efd;
    --log-color-2: #6a8d73;
    --log-divider-color: #e3e5e8;
    --bc-dark-color: rgba(255, 255, 255, .75);
    
    --log-footer-background: #1d1d1f;
    --log-footer-border-color: #424245;
    --log-footer-text-color: #86868b;
    --log-footer-link-color: #d2d2d7;
    --log-footer-directory-title-color: #f5f5f7;
    --log-footer-directory-title-color-hover: #fff;
}

@font-face {
    font-family: 'atlas';
    src:  url('../../fonts/AtlasGrotesk-Regular-Web-vflg7ta4-.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'circular';
    src:  url('../../fonts/circular/CircularStd-Bold.woff') format('woff');
    font-weight: 700;
}

body{font-weight: 400;font-family: "atlas", sans-serif; height: 100vh;  color: var(--log-black);}
body#website {padding-top: 76px;}
body#app {padding-top: 60px;}

tbody, td, tfoot, th, thead, tr { white-space: nowrap; vertical-align: middle; }

.btn-primary { background-color: var(--log-color); border-color: var(--log-color); }
.bg-danger {background: #561117 !important;}
.bg-primary {background: var(--log-color) !important;}

.dropdown-toggle::after{vertical-align: middle !important;}

.card-title { font-weight: bold; }

label.label{margin-bottom: 0.4rem;} 
a{text-decoration: none;}
/*a:not(.btn, .nav-link):hover{text-decoration: underline;}*/
.form-check-input{cursor: pointer;}

hr{background-color: #aaa; border-color: #b9b9b9;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;  margin: 0; }
input[type=number]{ -moz-appearance:textfield; }
.box, .list-group, .card {border-radius: 8px;}
.card.disabled{filter: grayscale(1); user-select: none}
.box-widget .card-body{padding: 0;}
.callout{padding-left: 1rem;border-left: 2px solid var(--border-color); margin-bottom: 1.5rem;}
.box-header .btn-close { float: right; }
.form-group{margin-bottom: 1rem}

label.label{font-weight: 600; margin-bottom: 0.25rem;}
.navbar-toggler{border: 0;outline: 0; box-shadow: none !important; color: var(--black1);}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}


.border-bottom{border-color: var(--border-color);}

.nav-link:hover{color: var(--black1);}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1200px !important;
    }
}

.fg-facebook{color: #1877F2;}
.fg-google{color: #DB4437;}
.fg-twitter{color: #1DA1F2;}
.fg-tiktok{color: #FE2C55;}
.fg-instagram{color: #E4405F;}
.fg-youtube{color: #CD201F;}
.fg-linkedin{color: #0A66C2;}
.fg-twitch{color: #6441A4;}

.bg-twitch{background-color: #6441A4 !important; color: #fff !important;}
.bg-google{background-color: #DB4437 !important; color: #fff !important;}
.bg-facebook{background-color: #1877F2 !important; color: #fff !important;}
.bg-twitter{background-color: #1DA1F2 !important; color: #fff !important;}
.bg-tiktok{background-color: #FE2C55 !important; color: #fff !important;}
.bg-snapchat{background-color: #FFFC00 !important; color: #000 !important;}
.bg-instagram{background-color: #E4405F !important; color: #fff !important;}
.bg-youtube{background-color: #CD201F !important; color: #fff !important;}
.bg-linkedin{background-color: #0A66C2 !important; color: #fff !important;}


.area{width:100%;height:100vh; position: fixed; top: 0px; left: 0px; z-index: -1;}
.circles{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden}.circles li{position:absolute;display:block;list-style:none;width:20px;height:20px;background:rgba(255,255,255,.2);animation:animate 25s linear infinite;bottom:-150px}.circles li:nth-child(1){left:25%;width:80px;height:80px;animation-delay:0s}.circles li:nth-child(2){left:10%;width:20px;height:20px;animation-delay:2s;animation-duration:12s}.circles li:nth-child(3){left:70%;width:20px;height:20px;animation-delay:4s}.circles li:nth-child(4){left:40%;width:60px;height:60px;animation-delay:0s;animation-duration:18s}.circles li:nth-child(5){left:65%;width:20px;height:20px;animation-delay:0s}.circles li:nth-child(6){left:75%;width:110px;height:110px;animation-delay:3s}.circles li:nth-child(7){left:35%;width:150px;height:150px;animation-delay:7s}.circles li:nth-child(8){left:50%;width:25px;height:25px;animation-delay:15s;animation-duration:45s}.circles li:nth-child(9){left:20%;width:15px;height:15px;animation-delay:2s;animation-duration:35s}.circles li:nth-child(10){left:85%;width:150px;height:150px;animation-delay:0s;animation-duration:11s}@keyframes animate{0%{transform:translateY(0) rotate(0);opacity:1;border-radius:0}100%{transform:translateY(-1000px) rotate(720deg);opacity:0;border-radius:0%}}

























